a {
    color: white;
    text-decoration: none;
}

a.active {
    color: gold;
}

img.dialogImg {
    margin-right: 5px;
    height: 45px;
    width: 45px;
    border-radius: 8px;
}

.dialogName {
    color: white;
    font-weight: bold;
}