.dialogsWrapper {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.dialogsWindow {
    padding: 20px;
}

.chatWindow {
    padding: 20px;
}

.dialogsWindow a {
    color: white;
    text-decoration: none;
}

a.active {
    color: gold;
}


